.header-img {
  /*width: 80%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  background: url("brainyjam-plnofarebne.png");
  background-size: 100% 100%;
  border: solid;
  border-color: #5e81d1;
  border-radius: 105px;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.774);
  margin-top: 20px;
}
.odd {
  /* background-color: #a1c3d1; */
  border-radius: 30px;
  padding-left: 15px;
  padding-bottom: 1px;
  padding-top: 5px;
  background-color: #0693e3;
  /* background-color: #6a9fe4da; */
  margin: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.274);
}
.even {
  /* background-color: #b39bc8; */
  border-radius: 30px;
  padding-left: 15px;
  padding-bottom: 1px;
  padding-top: 5px;
  background-color: rgb(199, 81, 192);
  /* background-color: #d676b1a8; */
  margin: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.274);
}
body {
  /*background-color: #e6fffd;*/
  background-color: #4f5f76;
  font-family: Times, serif;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.submit {
  background-color: #0693e3;
  border-radius: 150px;
  border-color: rgb(199, 81, 192);
  font-size: 25px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.274);
}

.form {
  text-align: center;
  background-color: #aed2ff;
  border-radius: 25px;
  padding: 15px;
  font-size: 25px;
  /* border: 1px solid; */
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.548);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.footer {
  background-color: #5e81d1;
  border-radius: 30px;
  padding-left: 5px;
}

input {
  border-radius: 15px;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
}
